@import "core/reset.css";
@import "core/variables.css";
@import "core/layout.css";


@import "components/buttons.css";
@import "components/cards.css";
@import "components/forms.css";
@import "components/tables.css";


@import "pages/login.css";
@import "pages/home.css";
@import "pages/prescripcion-citas.css";
@import "pages/prescripcion-detalle.css";
@import "pages/prescripcion-historia.css";
@import "pages/prescripcion-buscador.css";