.card {
    background-color: #fff;
    padding: var(--spacing);
    border-radius: var(--radius);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: var(--color-dark);
    display: block;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-3px);
}