.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 0.75rem;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

.table th {
    background-color: var(--color-light);
    font-weight: 600;
}