table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: var(--spacing-md);
}

th,
td {
    padding: var(--spacing-sm);
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: var(--clinyr-blue-light);
    color: var(--clinyr-gray-dark);
}

tr:hover {
    background-color: #e9f2ff;
}