@use 'variables';
body {
    font-family: variables.$font-primary;
    background-color: variables.$clinyr-gray-light;
    color: variables.$clinyr-gray-dark;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: variables.$spacing-md;
}

.header {
    background: variables.$clinyr-blue-primary;
    padding: variables.$spacing-md;
    a{
        text-decoration: none;
        color: white;
    }
}

.card {
    background: white;
    padding: variables.$spacing-md;
    border-radius: variables.$border-radius;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: variables.$spacing-md;
}