<<<<<<< HEAD
<<<<<<< HEAD
=======
@use 'variables' as *;
@use 'mixins' as *;


.mapa-camas {
    .habitacion {
        @include tarjeta;
        text-align: center;

        &.ocupada {
            border: 2px solid $color-alerta;
        }

        &.libre {
            border: 2px solid $color-ok;
        }
    }
}

.hoja-medicacion {
    .formulario {
        display: flex;
        flex-direction: column;
        gap: $espacio-base;
        margin-bottom: $espacio-base;
    }

    .tabla-medicacion {
        @include tabla;
    }
}
>>>>>>> e86efef9d6331f20f1af59f2a87251a17411146d
=======
.map-camas,
.hoja-medicacion {
    margin-top: $spacing-md;
}
>>>>>>> 909371aaed8ccdace1beca1c5fa38915fb365375
